.btn {
  background-color: #FFF;
  color: #000;
  border: 1px solid #000;
  padding: 5px 20px;
  cursor: pointer;
  font-family: 'Star Jedi', sans-serif;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 150px;

  &:hover, {
    background-color: #ffe81f;
  }

  &__image {
    width: 25px;
  }

  &--active {
    background-color: #ffe81f;
  }
}
