//@import url('https://fonts.googleapis.com/css2?family=Star+Jedi&display=swap');

.section {
  margin: 2.5rem auto;
  max-width: 1200px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .section {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .section {
    width: 100%;
  }
}

